.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: absolute;
  top:5vh;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Algorithms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App-body {
  background-color: #282c34;
  color: white;
}

.App-footer {
  color: white;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Algorithms {
  font-family: source-code-pro;
}