.App {
  min-height: 100vh;
  position: relative;
  background-color: #404258;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: source-code-pro;
}

.App-header {
  position: absolute;
  top: 5vh;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.Algorithms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons {
  background-color: #6B728E;
}