.footer {
    color: white;
    background-color: #6B728E;
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ghIcon {
    width: 40px;
}

.lnIcon {
    width: 35px;
}

.footer .notes {
    margin-bottom: 0;
    margin-right: 5px;
    margin-left: auto;
}