.footer {
    font-family: source-code-pro;
    color: white;
    background-color: #50577A;
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ghIcon {
    width: 40px;
}

.lnIcon {
    width: 30px;
}

.footer .notes {
    margin-bottom: 0;
    margin-right: 5px;
    margin-left: auto;
}

.note {
    margin-bottom: 0;
}